<!--界面只提供给App使用-->
<html>
<head>
    <meta charset="utf-8">
    <title>账户等级说明</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="../styles/app2.css">
</head>
<body>
<section class="wrap">
    <div class="bb_body hide-header">
        <div class="list-box bn space-big">
            <b>账户等级说明</b>

            <p>账户等级分为三个等级：初、中、高，分别对应不同的账户余额交易权限、额度。可通过更多种身份验证方式（即提升任务）提升等级。</p>
        </div>
    </div>
</section>
</body>
</html>

