<!-- <ion-view view-title="钱包">
<ion-content> -->
<head-title show-backbtn="true" go-back="goBack()" app-title="实名认证"></head-title>

<div class="account_head tc">
    <!-- <img class="user-head" src="../images/attestation_icon.png"> -->
    <span class="sprite sprite_account icon_attestation"></span>
    <p>您已通过实名认证</p>
</div>
<div class="item">
    <div class="input-label">姓名</div>
    <div>{{userName}}</div>
</div>
<div class="item">
    <div class="input-label">{{certType}}证件号码</div>
    <div>{{certNo}}</div>
</div>