<head-title show-backbtn="true" go-back="goBack()" app-title="添加银行卡"></head-title>
<form class="bg-dark full-h" id="form" name="form" novalidate>
    <div class="padding-divider font-tips tips-font oa">
        <span class="fl bankAdd-textHg">{{(code == 1 || code == 2) ? "请绑定一张本人的储蓄卡" : "请绑定一张本人的银行卡"}}</span>
        <span class="fr tips bankAdd-textHg" ng-click="showCardList(2)">支持银行</span>
    </div>

    <div class="item form bg-default">
        <div>
            <label class="input-label">姓名</label>
            <span ng-if="isRealName">{{obj.userName}}</span>
            <input class="input-bg input-long-bankadd" ng-if="!isRealName" type="text" ng-model="obj.userName"
                   placeholder="请输入姓名" required maxlength="20" minlength="2"/>
        </div>

        <div class="entry" ng-if="!isRealName && certTypesList.length > 1">
            <label class="input-label">证件类型</label>
            <input class="input-bg input-long-bankadd" id="certType" type="text" ng-click="open()" value="{{certTypeMessage}}" placeholder="请选择证件类型" readonly />
        </div>
        <div ng-if="!isRealName">
            <span class="input-label">{{certTypeLabel}}</span>
            <input class="input-bg input-long-bankadd" type="text" ng-model="obj.certNumber" placeholder="请输入证件号码" maxlength="18" required/>
        </div>

        <div>
            <span class="input-label">银行卡号</span>
            <input class="input-bg input-long-bankadd" type="tel" ng-model="obj.bankcardNumber" placeholder="请输入银行卡号"
                   ng-change="queryCardType()" minlength="8" maxlength="20" required />
        </div>
        <div>
            <span class="input-label">卡类型</span>
            <input class="tips input-bg input-long-bankadd" ng-click="showCardList(1)" value="{{cardType}}" readonly="readonly"/>

        </div>

    </div>
    <div class="padding-divider gap tc btn-bottom">
        <button class="lot-btn" ng-click="next()" ng-disabled="form.$invalid">
            下一步
        </button>
    </div>
</form>
<!-- 证件类型列表 -->
<scroll-component show='showScroll' list="scrollList" result="scrollResult" index="0"></scroll-component>

<article class="pop" ng-class="{'hidden sink':!showList, 'pop-ios':isIOS}" ng-if="showList">
    <head-title show-backbtn="true" go-back="cancel()" app-title="{{listTitle}}"></head-title>
    <div class="full-w bg-default full-h" ng-class="isWx ? '' : 'has-header'">
       <div class="full-h oa">
           <div class="tabs tc" ng-if="hasCredits">
               <div ng-class="showCardType=='debits'?'active':''" ng-click="setCardType('debits')">储蓄卡</div>
               <div ng-class="showCardType=='credits'?'active':''" ng-click="setCardType('credits')">信用卡</div>
           </div>
           <div class="item" ng-if="!hasCredits">
               <h3>
                   本业务仅支持储蓄卡
               </h3>
           </div>
           <div class="unit card-show bank-info" ng-click="getSelectedBank($index)" ng-repeat="res in cardList">
               <img class="bank-icon" ng-src="{{res.iconUrl}}"/>

               <div>
                   <div class="bank-name">
                       <span>{{res.bankName}}</span>
                   </div>
               </div>
           </div>
       </div>
    </div>
</article>