<head-title show-backbtn="true" go-back="goBack()" app-title="快捷支付服务协议" style="position:fixed;"></head-title>
<div class="full-h oa">

    <div class="protocol-content">
        快捷支付服务协议（以下简称“本协议”）是顺丰恒通支付有限公司（以下简称“顺手付”）与顺手付用户(以下简称“用户”或“您”)就顺手付快捷支付服务（以下简称“本服务”）的使用等相关事项所订立的有效合约。用户通过网络页面点击确认或以其他方式选择接受本协议，即表示用户与顺丰恒通支付有限公司已达成协议并同意接受本协议的全部约定内容。
    </div>
    <div class="protocol-content">
        在接受本协议之前，请您仔细阅读本协议的全部内容。如果您不同意本协议的任意内容，或者无法准确理解顺手付对条款的解释，请不要进行后续操作。
    </div>
    <div class="protocol-content">
        顺手付为您提供的快捷支付服务，指您在支付时，在线提供银行卡卡号、手机号码等信息，顺手付将发送手机动态口令到您登记的手机上，您输入正确的手机动态口令并输入支付密码，即可完成支付。
    </div>
    <div class="protocol-content">
        您应妥善保管银行卡、银行卡卡号、密码以及顺手付账号、密码、数字证书、支付盾（如有）等与银行卡或与顺手付账户有关的一切信息。如您遗失银行卡、泄露顺手付账户密码或相关信息的，您应及时通知发卡行及/或顺手付，以减少可能发生的损失。<strong>因用户或用户授权人泄露密码、数字证书、丢失银行卡或支付盾等所致损失需由用户自行承担。</strong>
    </div>
    <div class="protocol-content">
        您同意顺手付有权依据其自身判断对涉嫌欺诈或被他人控制并用于欺诈目的的顺手付账户采取相应的措施，上述措施包括但不限于冻结账户及资金、处置涉嫌欺诈的资金等。
    </div>
    <div class="protocol-content">
        用户如使用本服务进行支付的，应当在认真确认金额后输入密码进行支付。<strong>用户认可和同意：输入密码即视为用户确认交易和交易金额并已不可撤销地向顺手付发出指令，顺手付有权根据用户的该指令委托银行或第三方从用户银行卡中划扣资金给收款人。届时用户不应以未在交易单据中签名、签名不符、非本人意愿交易等原因要求顺手付退款或承担其他责任。</strong>
    </div>
    <div class="protocol-content">
        您在对使用本服务过程中发出指令的真实性及有效性承担全部责任；您承诺，<strong>顺手付</strong>依照您的指令进行操作的一切风险由您承担。
    </div>
    <div class="protocol-content">
        <strong>用户认可顺手付账户的使用记录数据、交易金额数据等均以顺手付系统平台记录的数据为准。</strong>
    </div>
    <div class="protocol-content">
        同时您授权顺手付有权留存您在顺手付网站填写的相应信息，并授权顺手付查询该银行卡信息，以供后续向您持续性地提供相应服务（包括但不限于将本信息用于向您推广、提供其他更加优质的产品或服务）。
    </div>
    <div class="protocol-content">
        <strong>出现下列情况之一的，顺手付有权立即终止用户使用顺手付相关服务而无需承担任何责任：（1）用户违反本协议的约定；（2）用户违反顺手付/或其他关联公司网站的条款、协议、规则、通告等相关规定，而被上述任一网站终止提供服务的；（3）顺手付认为向您提供本服务存在风险的（4）您的银行卡有效期届满（如有）。</strong>
    </div>
    <div class="protocol-content">
        您同意，本协议适用中华人民共和国大陆地区法律。因顺手付与您就本协议的签订、履行或解释发生争议，双方应努力友好协商解决。<strong>如协商不成，顺手付和用户同意由顺手付住所地法院管辖审理双方的纠纷或争议。</strong>
    </div>
    <div class="protocol-content">
        <strong>本协议内容包括协议正文及所有顺手付已经发布的或将来可能发布的顺手付服务的使用规则。所有规则为本协议不可分割的一部分，与协议正文具有相同法律效力。</strong>若您在本协议内容发生修订后，继续使用本服务的，则视为您同意最新修订的协议内容；否则您须立即停止使用本服务。
    </div>
    <div class="protocol-content">
        本协议未尽事宜，用户需遵守顺手付网站上公布的《顺手付服务协议》及相关规则。
    </div>
</div>