<head-title show-backbtn="true" go-back="goBack()" app-title="顺手付委托扣款授权书" style="position:fixed;"></head-title>
<div class="full-h oa">
    	<div class="padding">
    		<!-- <h3 class="text-center"></h3> -->
			<p class="param-content">
				本授权书由您向顺丰恒通支付有限公司（以下称“本公司”）出具，具有授权之法律效力。请您务必审慎阅读、充分理解本授权书各条款内容。您同意本授权书，即视为您已授权本公司在顺手付平台上按照商户指令代扣款项，并自愿承担由此导致的一切法律后果。
			</p>
			<p class="param-content">
				1、您确认并授权：当【深圳市顺丰益众信息技术有限公司】（以下称“商户”）向本公司发出扣款指令时，本公司即可直接从您的顺手付支付账户中扣划相应金额的款项至商户指定账户内。	
			</p>
			<p class="param-content">
				2、在您开通此项代扣业务时，本公司会验证您的支付密码或短信较验码。业务开通成功后，各笔扣款将按照商户的扣款指令进行，无须再次验证您的支付密码或短信校验码等信息。
			</p>
			<p class="param-content">
				3、除非您已终止授权，否则在任何情况下，只要商户向本公司发出扣款指令，本公司就可按照该指令进行资金扣划。本公司对商户的支付指令在实质上的正确性、合法性、完整性、真实性不承担任何责任，相关法律责任和后果由您和商户自行承担。
			</p>
			<p class="param-content">
				4、您应当在顺手付支付账户内留存足够的余额以备划扣，否则因此造成的无法及时扣款或扣款错误、失败，责任由您自行承担。因不可归责于本公司的事由，导致不能及时扣款或扣款错误、失败的，本公司不承担责任。
			</p>
			<p class="param-content">
				5、若您需要终止上述授权，您应当注销您在商户APP客户端注册的账号，或在商户的APP客户端或顺手付平台中进行自助操作，本公司将在您终止授权后停止代扣款项，但对于商户在您终止授权前已经发出的扣划指令，本公司仍将执行。
			</p>
			<p class="param-content">
				6、您完全理解并确认，因商户原因导致您遭受经济损失的，由您与商户协商解决，与本公司无关。
			</p>
    	</div>
</div>