<!-- <ion-view view-title="绑定成功">
	<ion-content> -->
<!--<head-title show-backbtn="false" app-title="绑定成功"></head-title>-->

<div class="bind-success gap">
     <img src="./images/icon-success.png" style="width:77px;height:77px;" />
    <p class="padding">绑定成功</p>
</div>
<p class="list-box"></p>
<label class="box list-box padding-card">
    <span class="input-label">顺手付帐号</span>
    <i class="dis-block tr">{{phoneNumber}}</i>
</label>


<div class="card-show gap tc">
    <button class="btn btn-sub" ng-click="finish()">
        完成
    </button>
</div>