<!--输入手机验证码-->
<!-- <ion-view view-title="验证手机号">
	<ion-content> -->
<head-title show-backbtn="true" go-back="goBack()" app-title="验证手机号"></head-title>
<form id="form" name="form" class="verify" novalidate>
    <div class="item">
        <div>验证码已发送至您的手机号{{phoneNumber | subStrForStar_phone}}</div>
    </div>

    <div class="unit">
        <input class="input-bg dis-block" type="tel" ng-model="obj.validCode" value="obj.validCode" placeholder="请输入短信验证码" maxlength="10"
               required/>
        <count-down times="60" on-send="send()" if-send="autoSend" phoneNumber="" text="发送短信验证码"></count-down>
    </div>

    <div class="card-show gap tc">
        <button class="btn btn-sub" ng-click="next()" ng-disabled="form.$invalid">
            下一步
        </button>
    </div>
</form>
