/* 密码控件 */
.padding {
	padding: 15px;
}
.pwd-wrapper{
	position:absolute;
	// top:0;
}
/*.pwd-content {
	p{
		color: #aeaeae;
		font-size: 15px;
		margin-bottom: 5px;
	}
	& + p a {
		color: #2390ed;
	}
}*/
.pwd-box {
	position:relative;
	//修改左右边距
	padding: 0 5%;
}
.pwd-input {
	position: absolute;
	top: -9000px;
	left: 0;
	width: 100%;
	height: 47px !important;
	line-height: 47px !important;
	z-index: 0;
}
.clearfix {
	&:before, &:after{
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}
.pwd-list{
	//margin:10px 0;
	height: 55px;
}
.pwd-list li{
	width:16.5%;
	height: 55px;
	line-height: 55px;
	text-align:center;
	display:inline-block;
	float:left;
	font-size:1.6em;
	text-align:center;
	vertical-align: middle;
	border: 1px solid #eee;
	border-right-color: transparent;
	&:last-of-type {
		border-right-color: #eee;
	}
	background-color: #fff;
}

.pwd-list i{
	display:inline-block;
	width:16px;
	height:16px;
	@include border-radius(8px);
	border:1px solid transparent;
}


.pwd-list .finished i{
	background-color: $fcInput;
	//border-color: #f1484f;
}
.pwd-content p{
	color: #aeaeae;
	font-size: 15px;
	margin-bottom: 5px;
}

//密码框上部提示文字
.pwd-tips {
	padding: 15px 5% 0;
	font-size: 1.3rem;
	color: #666;
}
.pwd-tips-right {
	margin-top: -15px;
}
.pwd-tips-bottom {
	color: #ccc;
	font-size: 1.3rem;
}
.padding-div{padding: 7px 5%;}