/*  协议同意，格式修改  */
.row{
	padding:0;
	margin-left:5%;
	width:90%;
}

.col{
	padding:0;
}

/*  app下载  iframe页面样式  */
.scroll {
	height: 100%;
	iframe {
		width: 100%;
		height: 100%;
	}
}
