/* 密码控件 */
.pwd-wrapper{
	position:absolute;
	// top:0;
}
.pwd-wrapper .scroll{
	position: absolute;
	width:100%;
	top:0px;
	@include translate3d(0,0,0);
	@include transition(all 0.3s ease-in 0.01s);
}
.pwd-box{
	position:relative;
	//修改左右边距
	padding: 0 8%;
}
.pwd-input{
	position:absolute;
	top:-9000px;
	left:0;
	width:100%;
	height:47px !important;
	line-height:47px !important;
	// border:1px solid green !important;
	z-index:0;
}
.pwd-list{
	margin:10px;
	padding-bottom:10px;
	border-bottom: 1px solid #{$border-color};
	// border:1px solid #ccc;
	// margin:0 10px;
	// @include border-radius(5px);
}
.pwd-list li{
	width:16.5%;
	height:46px;
	line-height:46px;
	text-align:center;
	display:inline-block;
	float:left;
	// border-left:1px solid #ccc;
	font-size:1.6em;
	text-align:center;
	vertical-align: middle;
}
.pwd-list li:first-child{
	// border-left:0;
}
.pwd-list i{
	display:inline-block;
	width:16px;
	height:16px;
	@include border-radius(8px);
	border:1px solid #ccc;
	vertical-align: middle;
}


.pwd-list .finished i{
	background-color: #f1484f;
	border-color: #f1484f;
}
.pwd-content {
	background-color: #fff;
	p{
		color: #aeaeae;
		font-size: 15px;
		margin-bottom: 5px;
	}
}