/* 通用协议样式 */
.protocol-postion{
	top: 55px;
  	position: relative;
}
.protocol-title{line-height: 26px; font-size: 18px;font-weight: bolder;padding:0 10px;margin-top: 10px;}
.protocol-second-title{line-height: 26px; font-size: 16px;font-weight: bold;padding:0 10px;margin-top: 10px;text-indent:2em;}
.protocol-content{line-height: 1.8em; padding: 0 10px;text-indent:2em;font-size:16px;}
.param-content{line-height: 1.8em; padding: 0 5px;font-size:16px;text-indent:2em;}
//.m_b_20{margin-bottom:20px;}