.ex-w-m{
  img{
    padding: 44% 0 20px;
    margin:  0 auto;
    display: block;
    width: 18%;
  }
  font-size: 1.5rem;
  color: $fcTips;
}
.trd-num{
  font-size: 56px;
  padding: 40px 0 10px;
  line-height: 56px;
  color: #5e6c77;
}
.trd-title{
  color: #919699;
}
.trd-status{
  .icon-font{
    font-size: 1.7rem;
    margin-right: 5px;
  }
  font-size: 1.5rem;
  padding:8px 0 16px;
}